@model BookStore.BLL.DTOs.BookUpdateDto

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Book Image</label>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="imageFile" class="form-control" id="inputGroupFile">
                </div>
                
            </div>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="~/Files/BookImages/@Model.ImageUrl" alt="@Model.Title" style="max-width: 200px; margin-top: 10px;" />
            }
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
                <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
